body{
    height: 100vh;
    margin: 0;
}
*{
    box-sizing: border-box;
}
.col{
    position: relative;
}
.col , .card{
    border:1px solid black;
    flex:1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card{
    position: absolute;
    background-color: lightgray;
}

.col img{
    width: 100px;
    height: 100px;
}

.row{
    display: flex;
    height: 30vh;
}

.window{
    display: flex;
    height: 100vh;
}
.side-menu{
    width: 20%;
}

.container{
    width: 80%;
}
.score-board{
    width: 20%;
}

.name, .themes {
    margin-top: 100px;
}

.score , .retries{
    margin: 20px;
    font-size : 5vh;
}