body{
    height: 100vh;
    margin: 0;
}
*{
    box-sizing: border-box;
    font-family: 'Audiowide', cursive;
    text-align: center;
}
.col{
    position: relative;
}
.col {
    border:1px solid black;
    flex:1;
    display: flex;
    justify-content: center;
    align-items: center;
}


.col img{
    width: 100px;
    height: 100px;
    position: absolute;
    /* transform:rotatey(-180deg); */

}

.row{
    display: flex;
    height: 30vh;
}

.window{
    display: flex;
    height: 100vh;

}
.side-menu{
    width: 20%;
    font-size: 18px;
}

.container{
    width: 80%;
}
.score-board{
    width: 20%;
}

.name, .themes {
    margin-top: 80px;
}

.score , .retries{
    /* margin: 20px; */
    font-size : 5vh;
}

h1{
    margin:0;
}